@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base-100 text-base-content min-h-screen;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .highlight-match {
    @apply bg-warning text-warning-content px-0.5 rounded;
  }
}
